.row {
  position: relative;
  height: 43px;
}

.checkTd {
  width: 48px;
}

.checkTd button {
  padding: 0;
  outline: 0;
  border: 2px solid #000;
  width: 34px;
  height: 34px;
  margin-top: 3px;
  background-color: transparent;
  transition: all .2s ease-out;
  cursor: pointer;
}

.checkTd button:hover {
  border: 2px solid rgb(70, 70, 70);
}

.checkTd button svg {
  visibility: hidden;
  height: 100%;
}

.task {
  font-size: 24px;
  text-align: left;
  transition: all .2s ease-out;
}

.deleteTd {
  width: 48px;
}

.deleteTd button {
  padding: 0;
  outline: 0;
  border: none;
  width: 34px;
  height: 34px;
  margin-top: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: transform .15s ease-out;
}

.deleteTd button svg {
  height: 100%;
}

.deleteTd button:hover {
  transform: scale(1.2);
}

@media (max-width: 499px) {
  .task {
    font-size: 20px;
  }
}