.filters {
  height: 43px;
  background-color: #DEDAA9;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.itemsLeft {
  font-weight: 700;
}

.activeView {
  margin-left: 10px;
}

.activeView button {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  transition: all .2s ease-out;
}

.activeView button:not(:last-child) {
  margin-right: 5px;
}

.activeView button:hover {
  cursor: pointer;
}

.clearCompleted {
  display: inline;
  visibility: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.clearCompleted:hover {
  cursor: pointer;
  text-decoration: underline;
}