.TodoApp {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
}

@media (max-width: 499px) {
  .TodoApp {
    margin-top: 0;
  }
}