.addInput {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #DFD297;
  border: 3px solid #000;
  font-size: 14px;
}

.addInput:focus {
  border: 3px solid rgb(70, 70, 70);
}

.addBtn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #DFD297;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}

.addBtn:hover {
  cursor: pointer;
  background-color: rgb(209, 195, 131);
}

.addBtn:active {
  opacity: .8;
}